body {
    background-image: url(../images/wall-3.png);
    background-repeat: repeat;
}

.neon-block {
}
    
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border: none;
}

.contacts, a {
    text-align: center;
    margin:20px auto;
    color: #ffcc00;
    font-size: 30px;
    font-weight: 600;
}

a {
    display: contents;
    margin: 0!important;
    text-decoration: none;
}

iframe{
    margin: 20px auto;
    width: 650px;
    height: 350px;
}
